<section class="">
    <form method="GET" action="final.html" class="" id="itineraryContainer" method="GET">

        <input type="hidden" id="itineraryKey" name="itinerarykey" />
        <button type="submit" class="" id="submitAttractions">Save</button>
    </form>
</section>