<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <h2 class="text-center"><i class="fas fa-road"></i> Road Rover</h2>
            <h3 class="text-center">Modern Road Trip Planning</h3>
            <p>Going on a road trip?  You could buzz right by the greatest attractions, museums, and restaurants.  Road Rover lets you pick a starting point, endpoint, and even stops along the way.  It then shows nearby attractions and restaurants at each point.  Pick the ones that interest you.  Share them or save them for your road trip.</p>
            <div class="text-center">
                <a id="signInButton" class="btn btn-warning btn-lg" href="signin" role="button">Sign In
                    <i title="Google Signin Required" class="fab fa-google"></i>
                </a>
            </div>
        </div>
        <div class="col-12 col-md-6">

        </div>
    </div>
</div>