<div id="map">

</div>

<section class="">
    <div class="" id="tripInfo"></div>
    <form id="chooseWayPointsForm" class="" action="chooseAttractions.html" method="GET">
        <input type="hidden" id="itineraryKey" name="itinerarykey" />
        <button class="" id="addWaypoint">Add a Waypoint Marker</button>
        <button class="" id="removeWaypoint">Remove Last Waypoint Marker</button>
        <button class="" type="submit" id="submitWaypoints">Start Finding Attractions</button>
        <button class="" id="restart">Restart</button>
    </form>
    </div>
</section>