<section class="">
    <div class="">Shareable Link:
        <a href="#" id="shareableLink"></a>
    </div>
    <form method="GET" action="final.html" class="" id="itineraryContainer" method="GET">

        <div class="textCenter">
            <input type="hidden" id="itineraryKey" name="itinerarykey" />
            <button type="submit" class="" id="saveAsPDF">Save as PDF</button>
        </div>
    </form>
</section>