body {
  background-image: url("../images/roadRoverBackground.jpg")
}

.attraction label, .attraction input, .attraction span {
    display: inline;
  }
  
  .attraction label {
    font-weight:bolder;
  }
  
  legend {
    font-weight: bold;
    cursor: pointer;
    color: rgb(99, 15, 148);
    text-shadow: 3px 3px white;

  }

  .attractionDetail span {
    text-shadow: 1px 1px white;
    text-transform: uppercase;
  }
  
  .attraction {
    margin: 0 0 1em 0;
  }
  
  .attraction span {
    margin: 0 0 0 .5em;
  }
  
  .attraction span div {
    margin: 0 0 0 2em;
  }
  
  form {
    padding: 1em;
  }

  footer {
    position: absolute;
    bottom: 0;
    flex-shrink: 0;
    width: 100%;
    background-color: black;
    font-family: 'VT323', monospace;
    text-align:center;
    padding: 1em;
    font-size: 14px;
    color: white;
  }

  img.poweredByGoogle {
      float:right;
      margin:.5em;
  }

  html, body {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  
  nav {
    background-color: black;
    color: orange;
    flex-shrink: 0;
  }
  
  nav h1 {
    padding-left: 1em;
    font-family: 'Delius Unicase', cursive;
    text-transform: uppercase;
    text-align: left;
    text-shadow: 2px 2px white;
    font-size: 40px;
    white-space: nowrap;
  }
  
  h2 {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
  }
  
  .banner {
    background-color: transparent;
    border-radius: 4px;
    width: 100%;
    margin: 15px 15px 15px 15px;
    padding: 15px 15px 15px 15px;
  }
  
  #citySelection {
    text-align:center;
    margin: 1em auto;
    padding: 1em;
  }
  
  #map {
    height: 400px;
    min-height: 60%;
    width: 100%;
  }
  
  label {
    color: white;
    font-weight: bolder;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    padding: 2px;
  }
  
  .button-sendCities {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: bolder;
    background-color: silver;
    border-radius: 4px;
  }
  
  #tripInfo {
    padding: .5em;
    text-align: center;
  }
  
  #tripInfo span {
    padding: 0 1em;
  }
  
  #chooseWayPointsForm {
    text-align:center;
  }
  
  #tripInfo {
    color: white;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    text-shadow: 2px 2px black;
  }