.attraction label, .attraction input, .attraction span {
    display: inline;
  }
  
  .attraction label {
    font-weight:bolder;
  }
  
  pure.form legend {
    font-weight: bold;
    cursor: pointer;
    color: white;
    text-shadow: 3px 3px white;

  }

  #attractionDetail {
    text-shadow: 1px 1px white;
    text-transform: uppercase;
  }
  
  .attraction {
    margin: 0 0 1em 0;
  }
  
  .attraction span {
    margin: 0 0 0 .5em;
  }
  
  .attraction span div {
    margin: 0 0 0 2em;
  }
  
  form {
    padding: 1em;
  }

  footer {
    margin-top: auto;
    flex-shrink: 0;
    background-color: black;
    font-family: 'Nunito', sans-serif;
    text-align:center;
    font-family: 'VT323', monospace;
    padding: 1em;
    font-size: 14px;
    color: white;
  }

  img.poweredByGoogle {
      float:right;
      margin:.5em;
  }