body {
  background-image: url("../images/roadRoverBackground.jpg")
}

.attractionDetail div {
  margin-left: 40px;

}
fieldset {
  color: rgb(206, 93, 0);
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  opacity: 0.80;
  text-indent: 5px;
}

legend {
  cursor: pointer;
}

.pure-form legend {
  color: black;
  background-color: #faac38;
  font-weight: bolder;
  text-transform: uppercase;
  text-indent: 5px;
  border-radius: 10px;
}

.attraction {
  background-color:#faac38;
  color: rgb(100, 53, 0);
}

.attraction label, .attraction input, .attraction span {
    display: inline;
  }
  
  .attraction label {
    font-weight:bolder;
  }
  
  .attraction span {
    margin: 0 0 0 .5em;
  }
  
  form {
    padding: 1em;
  }

  footer {
    flex-shrink: 0;
    width: 100%;
    background-color: black;
    font-family: 'VT323', monospace;
    text-align:center;
    padding: 1em;
    font-size: 14px;
    color: white;
  }

  img.poweredByGoogle {
      float:right;
      margin:.5em;
  }

  html, body {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  
  section {
    flex: 1 0 auto;
  }

  nav {
    background-color: black;
    color: orange;
    flex-shrink: 0;
  }
  
  nav h1 {
    padding-left: 1em;
    font-family: 'Delius Unicase', cursive;
    text-transform: uppercase;
    text-align: left;
    text-shadow: 2px 2px white;
    font-size: 40px;
    white-space: nowrap;
  }
  
  h2 {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
  }
  
  .banner {
    background-color: transparent;
    border-radius: 4px;
    width: 100%;
    margin: 15px 15px 15px 15px;
    padding: 15px 15px 15px 15px;
  }
  
  label {
    font-family: 'Nunito Sans', sans-serif; 
    font-weight: bold;
    color: black;
    }
  
  .button-sendCities {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: bolder;
    background-color: silver;
    border-radius: 4px;
  }
  
  #tripInfo {
    padding: .5em;
    text-align: center;
  }
  
  #tripInfo span {
    padding: 0 1em;
  }
  
  #chooseWayPointsForm {
    text-align:center;
  }
  
  #tripInfo {
    color: white;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    text-shadow: 2px 2px black;
  }

.moreInfo {
  cursor: pointer;
}