html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}

nav {
  flex-shrink: 0;
  background-color: lightskyblue;
  color: white;
}

nav h1 {
  padding-left: 1em;
}

section {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
  background-color: lightskyblue;
  color: white;
}
footer div {
  text-align:center;
  padding: 1em;
}

.banner {
  background-color: lightgray;
  border-radius: 4px;
  width:80%;
  margin: 1em auto;
  padding: 1em;
}

#citySelection {
  text-align:center;
  margin: 1em auto;
  padding: 1em;
}

#map {
  height: 400px;
  min-height: 60%;
  width: 100%;
}

#tripInfo {
  padding: .5em;
  text-align: center;
}

#tripInfo span {
  padding: 0 1em;
}

#chooseWayPointsForm {
  text-align:center;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}


