html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}

body{
  background-image: url("../images/roadRoverBackground.jpg")
}

nav {
  background-color: black;
  color: orange;
  flex-shrink: 0;
}

nav h1 {
  padding-left: 1em;
  font-family: 'Delius Unicase', cursive;
  text-transform: uppercase;
  text-align: left;
  text-shadow: 2px 2px white;
  font-size: 40px;
  white-space: nowrap;
}

h2 {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 50px;
}

footer {
  margin-top: auto;
  flex-shrink: 0;
  background-color: black;
  font-family: 'Nunito', sans-serif;
  text-align:center;
  font-family: 'VT323', monospace;
  padding: 1em;
  font-size: 14px;
  color: white;
}

.banner {
  background-color: transparent;
  border-radius: 4px;
  width: 100%;
  margin: 15px 15px 15px 15px;
  padding: 15px 15px 15px 15px;
}

#citySelection {
  text-align:center;
  margin: 1em auto;
  padding: 1em;
}

#map {
  height: 400px;
  min-height: 60%;
  width: 100%;
}

label {
  color: white;
  font-weight: bolder;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  padding: 2px;
}

.button-sendCities {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: bolder;
  background-color: silver;
  border-radius: 4px;
}

#tripInfo {
  padding: .5em;
  text-align: center;
}

#tripInfo span {
  padding: 0 1em;
}

#chooseWayPointsForm {
  text-align:center;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}


