html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  color: lightcyan;
  background-color: darkblue;
  background: url("/images/caleb-whiting-101737-unsplash.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section {
  flex: 1 0 auto;
}

.whiteBackgroundWrapper {
  color: black;
  background-color: white;
  border-radius: 1em;
  padding: .1em 1.25em 2em 1.25em;
}

footer {
  flex-shrink: 0;
  text-align: center;
}

footer ul {
  list-style-type: none;
  text-align: center;
}

footer ul li {
  margin: 0;
  padding: 0;
  display: inline;
}

footer ul li:after {
  content: " | ";
}

footer ul li:last-child:after {
  content: "";
}

.step {
  text-align: center;
  margin: .5em 0;
}

#map {
  height: 400px;
  min-height: 60%;
  width: 100%;
  margin-bottom: .5em;
}

.myButtons {
  display: inline-block;
  margin: .25em;
}

.stat {
  display: inline-block;
}

.stat:after {
  content: " - ";
}

#tripInfo .stat:last-child:after {
  content: "";
}

fieldset {
  margin-bottom: .75em;
  text-align: left;
}

.attraction {
  padding: .5em;
}

.attraction p {
  margin: 0;
}

.googleAttraction {
  background-color: lightgreen;
}

.zomatoRestaurant {
  background-color: lightblue;
}

.tab {
  display: inline-block;
  padding: .25em .5em;
  margin-left: .5em;
  border-radius: .5em .5em 0 0;
  cursor: pointer;
}


